<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>customer entry form</title>
    {% include 'cdnlines.html' %}

</head>
<body>
<style>
    h2{
        font-family: "Times New Roman";
        font-size: 35px;
    }
    body{
        background-color: gainsboro;
    }
    label{
        color: gold;
    }
    input[value]{
        color: black;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    input[name]{
        margin-top: 10px;
    }
    form{
        border: green 2px;
    }
</style>
<div class="container-fluied">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form method="post">
                <h2>Fill U R Details</h2>
                {% csrf_token %}

            <center>
                <label>First Name :</label>
                <input type="text" name="fname" placeholder="name" class="form-controls" ><br>
                <label>Last Name :</label>
                <input type="text" name="lname" placeholder="lname" class="form-controls" ><br>
                <label>  Mobile :</label>
                <input type="text" name="mobile" placeholder="mobile" class="form-controls" ><br>
                <label>company :</label>
                <input type="text" name="company" placeholder="company" class="form-controls" ><br>
                <label>Email :</label>
                <input type="text" name="email" placeholder="email id" class="form-controls" ><br>
                <label>Loc :</label>
                <input type="text" name="loc" placeholder="location" class="form-controls" ><br>


                <input type="submit" value="make it" class="btn btn-primary">
                <input type="reset" value="clear" class="btn btn-danger">
                <h5><a href="/" class="btn btn-secondary">Customer's List</a></h5>


            </center>
            </form>

        </div>

    </div>

</div>
</body>
</html>